intent: {{ required .intent "intent" }}
flavor: {{ required .flavor "flavor" }}
version: "1.0"
clouds: [{{ required .cloud "cloud" }}]
description: {{ required .description "description" }}
spec:
  title: {{ required .title "title" }}
  description: {{ required .description "description" }}
  type: object
outputs:
  default:
     type: "@outputs/{{ required .intent "intent" }}"
sample:
  kind: {{ required .intent "intent" }}
  flavor: {{ required .flavor "flavor" }}
  version: "1.0"
  disabled: true
  spec:
